# Dependencies
/vendor/
/node_modules/

# Environment
.env

# Logs
*.log

# IDE
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db

# Composer
composer.phar
composer.lock

#Ignore AssignmentDetails
AssignmentDetails/